
.idea/BosonicEntanglementDistillation.iml
.idea/inspectionProfiles/profiles_settings.xml
*.xml
*.pyc
*.pyc
.ipynb_checkpoints/playground2-checkpoint.ipynb
__pycache__/qudit.cpython-39.pyc
.idea/bosonicDistillation.iml
__pycache__/qudit.cpython-39.pyc
