
.idea/BosonicEntanglementDistillation.iml
.idea/inspectionProfiles/profiles_settings.xml
*.xml
*.pyc
*.pyc
.ipynb_checkpoints/playground2-checkpoint.ipynb
.ipynb_checkpoints/discrete_simulation-checkpoint.py
.ipynb_checkpoints/distillation_first_simulation-checkpoint.ipynb
.ipynb_checkpoints/entanglement_distillation_playground_1-checkpoint.ipynb
*.pyc
.ipynb_checkpoints/entanglement_distillation_playground_1-checkpoint.ipynb
__pycache__/qudit.cpython-39.pyc
.idea/bosonicDistillation.iml
__pycache__/qudit.cpython-39.pyc
__pycache__/qudit.cpython-39.pyc
